.container-fluid
{
    width: 100%;
    padding: 0!important;
    position: relative;
    display: inline-block;
    object-fit: contain;

}

.Carousel_Logo
{
    position: absolute;
    width: 6%;
    opacity: 1;
    z-index: 999;
    display: block;
    text-align: center;
    margin-left: 48%;
    top: 20px;

}

.carouselKitsune_H3{
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: -390px ;
}


.carouselKitsune_p{
    margin-left: 23%;
    font-size: 1.2em;
    margin-right: 23%;
    margin-top: -40px;
    color: #fff;
}