.loginScreen
{
    position: relative;
    height: 100%;
    max-width: 99%;
  
    
}

.loginScreen_Background
{
    width: 100%;
    margin: 0;
}

a.loginScreen_button
{
    color: white!important;
}

a.loginScreen_button:hover
{
    color: black!important;
}
.loginScreen_button, .btn_login
{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color:white;
    background-color: #daa136;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index:999;
}

.btn_register
{
    margin-right: 100px;
}

.containerKitsune
{
    height: 80%;
}